@import "{wolves:bourbon}/bourbon";
@import "{wolves:bitters}/base";
@import "{wolves:neat}/neat";

.button {
  @extend button;
}

.roll-again {
  display: block;
  text-align: center;
}

.container {
  @include outer-container;
  @include media(50em) {
    .roll-form {
      @include span-columns(6);
      > label {
        @include span-columns(3 of 6);
        @include omega();
      }
      > div {
        @include span-columns(6 of 6);
      }
    }
    .roll {
      @include span-columns(6);
    }
    .roll-list-container {
      @include span-columns(6);
    }
  }
}

h3 {
  font-size: 1.5em;
}

svg.defs {
  display: none;
}

.roll-form {
  .form-input-container {
    padding: 0 0.5em;
  }
  label {
    display: block;
    > span {
      padding-right: 1em;
    }
    > select {
      width: 100%;
    }
  }
  button {
    width: 100%;
  }
}

.roll-list-container {
  padding: 0.5em;
}


.die-svg-use {
  height: 198.02px;
  width: 210.021px;
}

.die-list-small {
  display: inline-block;
  > li {
    display: inline-block;
    padding: 0 0.2em;
  }

  .die-svg-use {
    height: 24.75px;
    width: 26.25px;

    // Hackish positioning because the SVG is not aligned at top-left. Need to correct
    position: relative;
    top: 7px;
    margin-right: -4px;
  }
}

.die-list-big {
  display: inline-block;
  > li {
    display: inline-block;
    padding: 0 0.2em;
    font-size: 3em;
  }
}


