@import "{wolves:bourbon}/bourbon";
@import "{wolves:bitters}/base";
@import "{wolves:neat}/neat";

.container {
  @include outer-container;
  @include media(50em) {
    .roll-form {
      @include span-columns(6);
      > label {
        @include span-columns(3 of 6);
        @include omega();
      }
      > div {
        @include span-columns(6 of 6);
      }
    }
    .roll-list-container {
      @include span-columns(6);
    }
  }
}

svg.defs {
  display: none;
}

.roll-form {
  .form-input-container {
    padding: 0 0.5em;
  }
  label {
    display: block;
    > span {
      padding-right: 1em;
    }
    > select {
      width: 100%;
    }
  }
  button {
    width: 100%;
  }
}

.roll-list-container {
  padding: 0.5em;
}

.die-list-small {
  display: inline-block;
  > li {
    display: inline-block;
    padding: 0 0.2em;
  }
}

.die-list-big {
  display: inline-block;
  > li {
    display: inline-block;
    padding: 0 0.2em;
    font-size: 3em;
  }
}

.die-svg-use {
  height: 198.02px;
  width: 210.021px;
}
